<html>
    <head>
        <meta charset="utf-8" />
        <title>Nodejs</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/posts">articles</a>
                <a href="/hello/jean">hello</a>
            </nav>
        </header>
        
