<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>page <small> fichier 1</small></h1>
    <h2>voici mon image : </h2>
    <form action="/form" method="POST">
        <input type="email" name="email" placeholder="email"id="email"> <br>
        <input type="password" name="password" placeholder="password" id="password"> <br>

        <button type="submit">submit</button>
    </form>
    <img src="/images/djosi.JPG" width="200" alt="" >
</body>
</html>